Zadanie_2/zad2.dtd

<!ELEMENT biblioteka (dzial+)>
<!ELEMENT dzial (temat, ksiazka+)>
<!ELEMENT temat (#PCDATA)>
<!ELEMENT ksiazka (autor+, tytul, cena, waluta)>
<!ELEMENT autor (imie, nazwisko)>
<!ELEMENT imie (#PCDATA)>
<!ELEMENT nazwisko (#PCDATA)>
<!ELEMENT tytul (#PCDATA)>
<!ELEMENT cena (#PCDATA)>
<!ELEMENT waluta (#PCDATA)>
